demo/node_modules/
demo/old_images/
diffux/
results/
single_builds/2/old_images/
single_builds/2/node_modules/
single_builds/3/node_modules/
single_builds/4/node_modules/
single_builds/5/node_modules/
single_builds/6/node_modules/
single_builds/7/node_modules/
single_builds/7/phantomas/
