.clearfix:before,.clearfix:after{
	content:" ";
	display:table
}
.clearfix:after{
	clear:both
}
/* modale registrazione */
.registration-modal .modal-content{
	border: 0 none;
	border-radius: 0;
}
.registration-modal .modal-header{
	padding: 10px;
	border-bottom: 0;
}
.headreg *{
	text-shadow:none;
}
.headreg{
	text-align:center;
	color:#000000;
}
.registration-modal{
	font-family:'Roboto Slab';
}
.registration-modal .modal-body{
	padding: 0 30px 20px 30px;
}
.registration-modal .modal-body h5 , .logout-page h5{
	font-family:'Roboto Slab';
	font-weight:700;
	font-size:26px;
	
}
.modal-header .close{
	opacity:1;
}
.headreg p{
	font-weight:300;
	font-size:14px;
	color:#000000;
	margin-bottom:0;
}
.choose-social-mod{
	text-align:center;
	padding-top:50px;
	margin-bottom:25px;
}
.choose-social-mod a{
	display:inline-block;
	margin-right:13px;
	  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.choose-social-mod a img{
	width:65px;
	height:65px;
}
.choose-social-mod a:last-child{
	margin-right:0;
}
/* social chooser */
.choose-social-mod a:hover{
	  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
	transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */	
}
.separator{
	text-align:center;
}
.text-inover{
	font-weight:300;
	color:#000000;
	font-size:14px;
	text-align:center;
	font-weight:300;
}
.text-inover a{
	font-weight:700;
	text-decoration:underline;
}
.registration-modal hr, .logout-page hr{
	background:url(../images/riga.png) no-repeat center center;
	height: 1px;
	color: #FFFFFF;
	padding: 25px 0 10px 0;
	border: 0 none;
	margin: 0 auto;
}
.registration-modal, .logout-page{
	text-align:center;
}
.registration-modal input[type="text"], .logout-page input[type="text"]{
	width:160px;
	height:45px;
	line-height: 45px;
	float:left;
	margin-right:5px;
	border:1px solid #c4c4c4;
	color:#8f8f8f;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif !important;
	font-weight:normal;
	padding: 0 10px;
	box-shadow: inset 1px 1px 5px 2px #eaeaea;
-webkit-box-shadow: inset 1px 1px 5px 2px #eaeaea;
-moz-box-shadow: inset 1px 1px 5px 2px #eaeaea;
}
.registration-modal input[type="password"], .logout-page input[type="password"]{
	width:170px;
	height:45px;
	line-height: 45px;
	float:left;
	border:1px solid #c4c4c4;
	color:#8f8f8f;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif !important;
	font-weight:normal;
	padding: 0 10px;
	box-shadow:  inset 1px 1px 5px 2px #eaeaea;
-webkit-box-shadow: inset 1px 1px 5px 2px #eaeaea;
-moz-box-shadow: inset 1px 1px 5px 2px #eaeaea;
}
.registration-modal input[type="submit"], .logout-page input[type="submit"]{
	width:68px;
	height:45px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background:none;
	line-height: 44px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif !important;
	border:1px solid #c4c4c4;
	text-transform:none;
	font-weight:normal;
	color:#000000 !important;
	box-shadow: inset -3px -3px 2px #eaeaea;
	-moz-box-shadow: inset -3px -3px 2px #eaeaea;
	-webkit-box-shadow: inset -3px -3px 2px #eaeaea;
	-ms-box-shadow: inset -3px -3px 2px #eaeaea;
	-o-box-shadow: inset -3px -3px 2px #eaeaea;
}
.registration-modal input:focus, .logout-page input:focus{
	outline-color:#000000;
	color:#000000;
}
.registration-modal .modal-content{
	background:url(../images/wired.jpg) no-repeat left top #FFFFFF;
}
.hdreg h5{
	padding: 15px 0 0 0;
	margin:0;
}
.modal-body > h5{
	margin:0;
}
.login-form{
	padding:10px 0 20px 0;
}
.modal-backdrop{
	background:#FFFFFF;
}
.validator-info{
	width: 205px;
	min-height: 45px;
	border: 1px solid #c4c4c4;
	margin: 0 auto;
	background: #fdf9c2;
	padding: 7px 5px 5px 45px;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold;
	color: #000000;
	font-size: 12px;
	text-align: left;
	background: #fdf9c2;
	line-height: 1.2em;
	margin-top:15px;
	margin-bottom:5px;
}
.validator-info.valid-info{
	background:url(../images/valid-info.png) no-repeat 5px center #fdf9c2;
}
.validator-info.valid-ok{
	background:url(../images/valid-ok.png) no-repeat 5px center #fdf9c2;
}
.validator-info.valid-no{
	background:url(../images/valid-no.png) no-repeat 5px center #fdf9c2;
}
#header .main  .navbar-nav.navbar-right li .dropdown-menu{
	position: absolute;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-right: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	border-left: 0 none;
	min-width: 114px;
	margin-top: -20px;
	left: auto;
	right: 0;
	padding: 0;
	overflow: hidden;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	top:150%;
}
#header .main  .navbar-nav.navbar-right li .dropdown-menu li{
	margin-top: -1px;
	float: none;
	border-top: 1px solid #c9c9c9;
	text-align: right;
	padding: 0;
}
#header .main  .navbar-nav.navbar-right li .dropdown-menu li a{
	padding: 4px 15px !important;
	color: #a3a3a3;
	background: transparent;
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	line-height: 1em;
	letter-spacing: 0;
	position: relative;
	font-family: 'FuturaBT-Bold',sans-serif !important;
	font-weight: normal !important;
	width: auto;
	height: auto;
	text-align:right;
}
#header .main  .navbar-nav.navbar-right li .dropdown-menu li a:hover{
	color:#000000;
	background:#d9d9d9;
	text-align:right;
}
/* drop end */
.logged-user{
	width:28px;
	margin:0 auto;
	height:28px;
	position:relative;
	overflow:hidden;
	display:block;
}
.logged-user > img{
	vertical-align:top;
}
.container-user-thumb{
	display: block;
	height: 100%;
	padding-top: 6px;
}
.mask-absolute{
	position:absolute;
	top:0;
	left:0;
	width:28px;
	height:30px;
	background:url(../images/mask.png) no-repeat left center;
}
a.logout-prof{
	color:#0000fe !important;
}
#header .main .navbar-right li > div{
	padding: 0;
	width: 31px;
	text-align: center;
	border-left: 1px solid #c9c9c9;
	display: block;
	font-size: 17px;
	height: 39px;
	line-height: 39px;
	cursor:pointer;
}
#header .main .navbar-right li:hover .dropdown-menu{
	display:block !important;
}
.form-completa-profilo{
	max-width:920px;
	margin:0 auto;
}
.heading-prof h2{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:39px;
}
.heading-prof p{
	font-family:'Roboto Slab','Arial';
	font-weight:700;
	text-align:center;
	color:#000000;
	font-size:17px;
}
.stepbystep{
	margin-bottom:40px;
}
.form-completa-profilo nav ul li, .tab-pane nav ul li{
	color:#b4b4b4;
	font-family: 'FuturaBT-Bold',sans-serif !important;
	font-size:12px;
	text-transform:uppercase;
}
.form-completa-profilo nav ul li, .tab-pane nav ul li{
	display:inline-block;
	padding-right:20px;
	line-height:20px;
	margin-right:5px;
}
.form-completa-profilo nav ul li.current, .tab-pane nav ul li.current{
	color:#0000fe;
}
.form-completa-profilo nav ul li.past .tab-pane nav ul li.past{
	color:#8c8cff;
}
.form-completa-profilo nav ul li.current.first-step, .tab-pane nav ul li.current.first-step{
	background:url(../images/current-step.png) no-repeat right center;
}
.form-completa-profilo nav ul li.past.first-step, .tab-pane nav ul li.past.first-step{
	background:url(../images/past-step.png) no-repeat right center;
}
.obbligatory-fields-remember{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:25px;
}
.personal-form .row > div{
	min-height:150px;
	position:relative;
}
.heading-prof{
	margin-bottom:50px;
}
.option{
	display:inline-block;
}
.option{
	height:70px;
	color:#b4b4b4;
}
.option.man{
	background:url(../images/man.png) no-repeat center bottom;
	z-index:2;
}
.option.woman{
	background:url(../images/woman.png) no-repeat center bottom;
	z-index:2;
}
.option.man.selected{
	background:url(../images/man-selected.png) no-repeat center bottom;
	color:#000000 !important;
}
.option.selected label{
	color:#000000 !important;
}
.option.woman.selected{
	background:url(../images/woman-selected.png) no-repeat center bottom;
	color:#000000 !important;
}
.personal-form input[type="text"], .personal-form input[type="password"]{
	width:245px;
	height:45px;
	line-height:45px;
	border:1px solid #b7b7b7;
	box-shadow:  inset 1px 1px 5px 2px #eaeaea;
	-webkit-box-shadow: inset 1px 1px 5px 2px #eaeaea;
	-moz-box-shadow: inset 1px 1px 5px 2px #eaeaea;
	padding:0 10px;
	margin-bottom:10px;
	color:#b4b4b4;
}
.personal-form input:focus{
	outline-color:#000000;
	color:#000000;
}
input.completed{
	color:#000000 !important;
	border:1px solid #000000 !important;
}
.option{
	width: 35%;
	text-align: center;
	margin-right: 7%;
}
.personal-form label{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#b4b4b4;
}
/* avatar */
.avatar label{
	display:block;
}
.avatar a{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-decoration:underline;
	display: block;
	margin-bottom:7px;
}
.avatar{
	max-width: 250px;
	text-align: center;
	border-right:1px solid #c4c4c4;
}
.avatar-thumb{
	display:block;
	margin-bottom:10px;
}
/* fine avatar*/
.personal-form .row:first-child{
	border-bottom:1px solid #c4c4c4;
}
.personal-form .row > div p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#b4b4b4;
}
.personal-form .row > div .controller{
	display:inline-block;
	width:15px;
	height:18px;
	line-height: 15px;
}
.personal-form .row > div .controller.cont-ok{
	background:url(../images/controller-ok.png) no-repeat;
}
.personal-form .row > div .controller.cont-info{
	background:url(../images/controller-info.png) no-repeat;
}
.alert-field-box{
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	width:240px;
}
.col-md-4.mxwdt{
	max-width:300px;
}
.personal-form{
	padding-left:20px;
}
.confirm-row input[type="submit"]{
	background: #1faf5c;
	border: 0 none;
	border-radius: 0;
	padding: 10px 20px;
	color: #FFFFFF;
	font-size: 18px;
	text-transform:uppercase;
	font-family: 'FuturaBT-Bold',sans-serif !important;
}
.big-mask-cont{
	position:relative;
	width:110px;
	height:110px;
	display:block;
	margin:0 auto;
}
.big-mask-absolute{
	width:110px;
	height:110px;
	position:absolute;
	top:0;
	left:0;
	z-index:16;
	background:url(../images/mask-big.png) no-repeat center center;
}
.annulla{
	color:#b4b4b4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:underline;
	margin-right:50px;
}
.confirm-row{
	margin-top:24px;
}
/* profilo personale */
.profilo-personale{
	max-width:940px;
	margin:0 auto;
	font-family:'Roboto Slab','Arial';
	font-weight:300;
	position:relative;
}
.profilo-personale .nav-tabs{
	border:1px solid #0000fe;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	display: inline-block;
	^display:inline;
}
.profilo-personale .nav-tabs li{
	border-right:1px solid #0000fe;
}
.profilo-personale .nav-tabs li > a{
	color:#191919L;
	font-family: 'FuturaBT-Bold',sans-serif !important;
	font-size:12px;
	text-transform:uppercase;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.profilo-personale .nav>li>a{
	padding:10px 20px 8px 20px;
	margin:0;
}
.profilo-personale .nav-tabs>li{
	margin:0;
}
.profilo-personale .nav-tabs li:last-child{
	border-right:0 none;
}
.profilo-personale .nav-tabs li.active a{
	background:#d9d9d9;
	color:#0000fe;
}
.profilo-personale .nav-tabs li:hover a{
	background:#d9d9d9;
	color:#0000fe;
}
.page-profile-thumb-cont{
	width:144px;
	height:144px;
	position:relative;
}
.page-profile-image{
	width:144px;
	height:144px;
	background:url(../images/maschera-profilo.png) no-repeat;
	position:absolute;
	top:0;
	left:0;
	z-index:6;
}
.gestisci-account-sn, .social-network-info p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#000000;
	font-weight:300;
}
.gestisci-account-sn a{
	text-decoration:underline;
}
.social-network-info p{
	margin-bottom:20px;
}
.action-modifica-profilo{
	font-size:17px;
	color:#000000;
	font-weight:700;
	text-decoration:underline;
	
}
.dettail-user{
	margin-left:30px;
}
.social-network-info img{
	margin-bottom:10px;
}
.contenuto-tab{
	padding:30px 0 0 0;
}
.email-box{
	background:url(../images/bg-news-iscrviti.png) no-repeat 5px center;
	width:320px;
	height:45px;
	border:1px solid #b7b7b7;
	box-shadow:  inset 1px 1px 5px 2px #eaeaea;
	-webkit-box-shadow: inset 1px 1px 5px 2px #eaeaea;
	-moz-box-shadow: inset 1px 1px 5px 2px #eaeaea;
	padding:0 0 0 65px;
	margin-bottom:10px;
	color:#b4b4b4;
}
.newsletter-box{
	padding:30px 0;
}
.newsletter-box input[type="submit"]{
	width:68px;
	height:45px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background:none;
	line-height: 44px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif !important;
	border:1px solid #c4c4c4;
	text-transform:none;
	font-weight:normal;
	color:#000000;
	box-shadow: inset -3px -3px 2px #eaeaea;
	-moz-box-shadow: inset -3px -3px 2px #eaeaea;
	-webkit-box-shadow: inset -3px -3px 2px #eaeaea;
	-ms-box-shadow: inset -3px -3px 2px #eaeaea;
	-o-box-shadow: inset -3px -3px 2px #eaeaea;
	margin-top:-2px;
}
.newsletter-box input:focus{
	color:#000000;
}
/* rivista digitale */
.rivista-digitale{
	position: relative;
	background: #d9d9d9;
	border: 1px solid #c7c7c7;
	height: 45px;
	padding-left: 160px;
	line-height: 45px;
}
.rivista-immagine-absolute{
	position:absolute;
	left:5px;
	bottom:0;
}
.rivista-digitale input[type="text"]{
	height:30px;
	line-height:30px;
	font-size:14px;
	max-width:220px;
	color:#a9a9a9;
	padding:0 10px;
}
.rivista-digitale input[type="text"]:focus{
	color:#000000;
}
.rivista-digitale input[type="submit"]{
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #c4c4c4;
	background:#FFFFFF;
	box-shadow: inset -3px -3px 2px #eaeaea;
	-moz-box-shadow: inset -3px -3px 2px #eaeaea;
	-webkit-box-shadow: inset -3px -3px 2px #eaeaea;
	-ms-box-shadow: inset -3px -3px 2px #eaeaea;
	-o-box-shadow: inset -3px -3px 2px #eaeaea;
}
.mod-pass input[type="button"], .passbutt{
	color:#000000 !important;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #c4c4c4;
	background:#FFFFFF;
	box-shadow: inset -3px -3px 2px #eaeaea;
	-moz-box-shadow: inset -3px -3px 2px #eaeaea;
	-webkit-box-shadow: inset -3px -3px 2px #eaeaea;
	-ms-box-shadow: inset -3px -3px 2px #eaeaea;
	-o-box-shadow: inset -3px -3px 2px #eaeaea;
}
.mod-pass input[type="button"]{
	color:#000000;
	height:45px;
	padding: 0 20px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.claim-rivista-digitale{
	padding-left:160px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
	padding-bottom: 5px;
}
.claim-rivista-digitale a{
	text-decoration:underline;
	font-weight:bold;
}
.claim-rivista-digitale select{
	margin-right:10px !important;
	width:200px;
}
.social-connection{
	padding:30px;
	border-bottom:1px solid #c8c8c8;
	display:table;
	width:100%
}
.list-social .social-connection:last-child{
	border-bottom:0 none;
}
.social-connection > div{
	display:table-cell;
	vertical-align:middle;
}
.social-connection h5{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#b2b2b2;
}
.social-connection h6{
	font-family:'Roboto Slab','Arial';
	font-weight:bold;
	font-size:18px;
	color:#000000;
}
.social-connection .buttons > a{
	display:block;
	width:255px;
	height:53px;
	text-transform:uppercase;
	font-size:18px;
	text-align:center;
	line-height:53px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border:0 none;
	font-family: 'FuturaBT-Bold',sans-serif !important;
}
.social-connection .buttons > a.state-connected{
	background:url(../images/ics.png) no-repeat 20px center #d9d9d9;
	color:#b2b2b2;
}
.social-connection .buttons > a.state-disconnected{
	background:#1faf5c;
	color:#FFFFFF;
}
.mxwdt label.error{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#f83232;
	font-weight:normal;
}
.contenuto-tab h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#000000;
	font-weight:normal;
}
.list-social .social-connection:last-child{
	border-bottom:0 none;
}
.tab-content{
	margin-bottom:60px;
}
.abbonamenti header h2, .abbonamenti header img{
	 display:inline-block;
}
.abbonamenti header img{
	margin-top: -40px;
	margin-right: 10px;
}
.abbonamenti header h2 > span{
	display:block;
	font-size:25px;
	background:#f8f100;
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
}
.abbonamenti .intestaz h1{
	font-size:30px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	display:inline-block;
	font-weight:bold;
}
.abbonamenti .intestaz p{
	color:#000000;
	display:inline-block;
	border-bottom:4px solid #f8f100;
	margin-left:20px;
}
.abbonati-a-wired{
	margin-left:200px;
	width:660px;
}
.testo-libero{
	display:block;
	font-family:'Roboto Slab','Arial';
	color:#888888;
	line-height:1.4em !important;
}
.testo-libero a{
	text-decoration:underline;
	font-weight:700;
}
.scopri-i-vantaggi{
	font-family:'Roboto Slab','Arial';
	color:#a3a3a3;
	font-weight:300;
	font-size:18px;
	padding:10px 0;
}
.scopri-i-vantaggi a{
	color:#000000;
	text-decoration:underline;
}
ul.i-vantaggi li{
	background:url(../images/ok-check.png) no-repeat left center;
	list-style:none;
	padding:0 0 0 22px;
	margin:0;
	font-family:'Roboto Slab','Arial';
	color:#000000;
	text-transform:uppercase;
}
.generalconditions{
	font-size:11px;
	color:#000000;
	padding:10px 0;
}
.abbonatioregala{
	width:220px;
	display:inline-block;
	height: 70px;
	padding: 0 10px;
	font-size: 14px;
	font-family:'FuturaBT-Bold',sans-serif !important;
	border:1px solid #c4c4c4;
	background:#faf200;
	box-shadow: inset -1px -1px 8px #888888;
	-moz-box-shadow: inset -1px -1px 8px #888888;
	-webkit-box-shadow: inset -1px -1px 8px #888888;
	-ms-box-shadow: inset -1px -1px 8px #888888;
	-o-box-shadow: inset -1px -1px 8px #888888;
	font-size:17px;
	text-align:center;
	text-transform:uppercase;
	color:#000000;
	padding-top:12px;
	margin-left:5px;
}
.app-download-area{
	text-align:right;
}
.app-download-area a{
	margin-left:10px;
}
a.link-scoperta{
	display:block;
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	text-align:right;
	padding-right:55px;
}
.absolute-sold{
	position: absolute;
	top: -62px;
	left: 50px;
	z-index: 2;
}
.profilo-personale{
	padding-top:40px;
}
.abbonamento-abbonato{
	margin-left:200px;
}
.iscrizione-newsletter-page .col-md-6:first-child{
	border-right:1px solid #e4e4e4;
}
.pointul{
	list-style:disc;
	padding-left:20px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.iscrizione-newsletter-page .row > div{
	padding:20px;
}
.iscrizione-newsletter-page p{
	color:#000000;
	font-size:15px;
	line-height:1.2em;
	margin-bottom:20px;
	font-family:Arial, Helvetica, sans-serif !important;
}
.iscrizione-newsletter-page h2{
	font-size:24px;
	margin-bottom:25px;
	line-height:40px;
}
.iscrizione-newsletter-page{
	font-family:'Roboto Slab','Arial';
}
.autorization{
	padding-bottom:20px;
	color:#888888;
}
.autorization.flagged{
	color:#000000 !important;
}
.privacy-information{
	font-family:Arial, Helvetica, sans-serif;
	color:#888888;
	font-size:12px;
	margin-bottom:25px;
}
.privacy-information a{
	text-decoration:underline;
	color:#888888;
}

.newslform .row:first-child{
	border-bottom:1px solid #e4e4e4;
}
.newsltextaccept{
	clear:both;
}
.newsltextaccept p{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	padding-top:15px;
}
.newsltextaccept a{
	text-decoration:underline;
}
.mail{
	min-height:30px !important;
	font-size:14px;
	color:#b4b4b4;
	margin-bottom:15px;
}
@media screen and (min-width: 768px){
	.registration-modal .modal-dialog {
		width: 490px;
		padding-top:105px;
	}
}

.mymodals .modal-dialog {
	width: 650px;
	font-size: 12px;
	padding-top: 105px;
	text-align: left;
}

.mymodalpass .modal-dialog {
	width: 380px;
	font-size: 12px;
	padding-top: 105px;
}

.modi-pass.mxwdt.clearfix {
	padding: 10px;
	margin-left: 58px;
}

.modi-pass-sub.mxwdt.clearfix {
	margin-top: 15px;
	margin-bottom: 15px;
}

.modi-pass-form h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color:#000;
}

#thumb img {
	max-width: 110px;
	max-height: 110px;
}
.form-completa-profilo nav ul.nav-tabs-b li, .tab-pane nav ul.nav-tabs-b li{
	display: inline-block;
	padding-right: 10px;
	line-height: 20px;
	margin-right: 0;
}
.profilo-personale .nav.nav-tabs-b > li > a {
	padding: 0 10px 0 0;
	margin: 0;
	color:#adadff;
}
/*
.profilo-personale .nav.nav-tabs-b > li > a:hpover{
	background:none;
}
*/
.profilo-personale .nav.nav-tabs-b > li.active > a{
	color:#0000FE;	
}
nav ul.nav-tabs-b li{
	background: url(../images/past-step.png) no-repeat right center;
}
nav ul.nav-tabs-b li.active{
	background: url(../images/current-step.png) no-repeat right center;
}
nav ul.nav-tabs-b li:last-child{
	background: none;
}
.tab-pane#impostazioni{
	padding-top: 25px;
}
.form-completa-profilo .col-md-4.mxwdt, .col-md-4.mxwdt{
	width:300px;
	float:left;
}
input[type="submit"]:focus, input[type="button"]:focus{
	outline:none !important;
	color:#FFFFFF;
}
/* form-personal */
.personal-form input[type="text"], .personal-form input[type="date"], .personal-form select, .personal-form select option{
	font-family:Arial, Helvetica, sans-serif;
}
.dettail-user h1{
	margin-top:0;
}
.social-connection .prof-dett{
	min-width:150px;
}
.mxwdt input[type="date"]{
	width: 240px;
	height: 45px;
	padding-left: 5px;
	box-shadow: inset -3px -3px 2px #eaeaea;
	-moz-box-shadow: inset -3px -3px 2px #eaeaea;
	-webkit-box-shadow: inset -3px -3px 2px #eaeaea;
	-ms-box-shadow: inset -3px -3px 2px #eaeaea;
	-o-box-shadow: inset -3px -3px 2px #eaeaea;
}
/* fix altezza steps*/
#impostazioni .personal-form{
	padding-left:0;
}
#impostazioni .stepbystep {
	margin-bottom: 20px;
}
#impostazioni{
	padding-left:20px;
}
#data_nascita{
	background:url(../images/calendar.png) no-repeat right center;
}
.logout-page{
	width:450px;
	margin:0 auto;
}
.logout-page h5{
	font-size:30px;
}
.sublogout h6{
	font-family: 'Roboto Slab';
	font-size:25px;
}
.logout-page .login-form{
	max-width:415px;
}
.m-bottom {
	margin-bottom: 130px;
}

.opzsess {
	left: 8%; 
	position: relative; 
	padding-top: 5px; 
}
input[type="text"].btn-year{
	display:inline-block;
	width:60px;
	font-size:14px;
	margin-left:5px;
}
.btn-day .btn-default, .btn-month .btn-default, .btn-provincia .btn-default{
	height:45px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-ms-border-radius:0;
	margin-left:5px;
}
.btn-provincia{
	display:block;
	clear:both;
}
.btn-provincia .btn-default{
	width:220px;
}
.btn-provincia .btn-default.dropdown-toggle{
	width:auto;
}
.btn-provincia .btn-default{
}
.btn-day .dropdown-toggle, .btn-month .dropdown-toggle, .btn-provincia dropdown-toggle{
	height:45px;
	margin-left:5px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-ms-border-radius:0;
}
.btn-provincia .dropdown-menu{
	width: 245px;
	top: 43px;
}
.btn-day{
	width:100px;
}
.btn-day .dropdown-menu, .btn-month .dropdown-menu, .btn-provincia .dropdown-menu{
	max-height:100px;
	overflow-y:scroll;
}
/* select provincia */
.prov-select select {
    padding:10px;
	width:220px;
    margin: 0;
    background: #FFFFFF;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	border:1px solid #b7b7b7;
	border-radius:0;	
	-moz-border-radius:0;	
	-webkit-border-radius:0;
	box-shadow:  inset 1px 1px 5px 2px #eaeaea;
	-webkit-box-shadow: inset 1px 1px 5px 2px #eaeaea;
	-moz-box-shadow: inset 1px 1px 5px 2px #eaeaea;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .prov-select select {padding-right:18px}
}
.prov-select div.modsel {position:relative; width:220px;}
.prov-select div.modsel:after {
    content:'>';
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:10px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
.prov-select div.modsel:before {
    content:'';
    right:6px; top:10px;
    width:20px; height:20px;
    background:#FFFFFF;
    position:absolute;
    pointer-events:none;
    display:block;
}
/* select data di nascita */
.data-nascita-select select {
    padding:10px;
	width:60px;
    margin: 0;
    background: #FFFFFF;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	border:1px solid #b7b7b7;
	border-radius:0;	
	-moz-border-radius:0;	
	-webkit-border-radius:0;
	box-shadow:  inset 1px 1px 5px 2px #eaeaea;
	-webkit-box-shadow: inset 1px 1px 5px 2px #eaeaea;
	-moz-box-shadow: inset 1px 1px 5px 2px #eaeaea;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .data-nascita-select select {padding-right:18px}
}
.data-nascita-select div.modsel {position:relative; width:60px;float:left; margin-right:5px;}
.data-nascita-select div.modsel:after {
    content:'>';
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:10px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
.data-nascita-select div.modsel:before {
    content:'';
    right:6px; top:10px;
    width:20px; height:20px;
    background:#FFFFFF;
    position:absolute;
    pointer-events:none;
    display:block;
}
.data-nascita-select div.anno-select {
	position:relative;
	width:90px;
	float:left;
	margin-right:5px;
}
.data-nascita-select .anno-select select {
	width:90px;
}
#checkdata {
	position: relative;
	top: -34px;
	left: 227px;
}
#checkprovincia {
	position: relative;
	top: -34px;
	left: 223px;
}
.data-nascita-select .completed {
	border: 1px solid #000;
	color: #000;
}
.prov-select .completed {
	border: 1px solid #000;
	color: #000;
}
#respmodpass .validator-info {
	margin: 8px 0px !important;
}
/* fix step current pipe */
nav ul.nav-tabs-b.pipeprofilo li{
	background: url(../images/past-step-pipe.png) no-repeat right center;
}
nav ul.nav-tabs-b.pipeprofilo li.active{
	background: url(../images/current-step-pipe.png) no-repeat right center;
}
nav ul.nav-tabs-b.pipeprofilo li:last-child{
	background: none;
}

#abbonati-profilo #wired-cover-profilo{overflow:hidden;position:relative;height:225px;width:205px;margin-top:20px}
#abbonati-profilo #wired-cover-profilo img.cover{position:absolute;width:160px;left:0;top:0}
#abbonati-profilo #wired-cover-profilo .ipad{position:absolute;width:128px;height:160px;left:60px;top:50px}
#abbonati-profilo #wired-cover-profilo .ipad img{max-height:100%;max-width:100%}
#abbonati-profilo #wired-cover-profilo .ipad .over{position:absolute;top:0;left:0}
#abbonati-profilo .secondary#abbonati-profilo #wired-cover-profilo{overflow:hidden;position:relative;height:225px;width:205px;margin-top:20px}
#abbonati-profilo #wired-cover-profilo img.cover{position:absolute;width:160px;left:0;top:0}
#abbonati-profilo #wired-cover-profilo .ipad{position:absolute;width:128px;height:160px;left:60px;top:50px}
#abbonati-profilo #wired-cover-profilo .ipad img{max-height:100%;max-width:100%}
#abbonati-profilo #wired-cover-profilo .ipad .over{position:absolute;top:0;left:0}

.fyre .fyre-box-wrapper a.fyre-user-profile-link {
	padding: 35px 0 0 0 !important;
}
.linkavatar {
	display: block; 
	text-align: center; 
	text-decoration:underline; 
	font-size:13px;
}
.heading-prof h2 {
	margin: 0;
}
.stepbystep {
	margin-bottom: 20px;
}
 .resize-avatar-container iframe{
	border:0 none;
}

.fyre-liveblog .fyre-liveblog-expanded {
	overflow: visible !important;
}

.fyre-liveblog .fyre-login-bar {
	height: 50px !important;
	position: relative !important;
}

.fyre-liveblog a.fyre-stream-sort-back:hover {
	background: url(../images/diretta.png) no-repeat center center;
}

.fyre-liveblog .fyre-stream-sort-back {
	
	color: white !important;
	overflow: hidden;
	width: 186px;
	height: 40px;
	padding-top: 4px;
	position: relative;
	margin-bottom: 15px;
	font-family: 'FuturaBT-Bold',sans-serif !important;
	text-transform: uppercase;
	padding-left: 300px;
	background: url(../images/diretta.png) no-repeat center center;
	background-repeat: no-repeat;
	left: -58px;
}

/* Profilo Fase 2 */

.info-follow {
	background: url(../images/big-arrow-follow.png) no-repeat 20px center;
	width: 370px;
	padding-left: 125px;
	min-height: 300px;
}
.dettail-user {
	width: 350px;
}
.iscriviti-alla-newsletter {
	font-family: 'FuturaBT-Bold', sans-serif !important;
	background: #e8e8e8;
	border: 1px solid #c4c4c4;
	padding: 17px 18px 12px 18px;
	display: inline-block;
	font-size: 17px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
}
.social-network-info {
	margin-bottom: 15px;
}
.stai-seguendo h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 17px;
	border-bottom: 1px solid #c8c8c7;
	margin-bottom: 0;
	padding-bottom: 8px;
	padding-top: 8px;
	margin-top: 0;
}
.stai-seguendo .contatore {
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #c8c8c7;
	margin-bottom: 0;
	padding-bottom: 8px;
	padding-top: 8px;
	margin-top: 0;
	color: #898989;
	font-size: 17px;
}
.stai-seguendo .contatore .numero-notifiche {
	color: #0000fe;
	font-weight: bold;
	display: inline-block;
	width: 25px;
}
.nuova-notifica {
	display: inline-block;
	background: #0000fe;
	color: #FFFFFF;
	font-family: 'FuturaBT-Light' !important;
	font-size: 12px;
	padding: 2px 9px 0 9px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	font-weight: 100;
}
.stai-seguendo {
	padding-top: 35px;
}
.avviso-mail {
	border: 1px solid #c8c8c7;
	padding: 10px;
}
.stai-seguendo {
	margin-bottom: 20px;
}
.controller-activation > a {
	display: inline-block;
	height: 30px;
	width: 60px;
	line-height: 30px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.controller-activation > a.on {
	background: url(../images/controllo-si.png) no-repeat transparent;
	color: #1faf5c;
	text-indent: 10px;
}
.controller-activation > a {
	background: url(../images/controllo-no.png) no-repeat transparent;
	color: #898989;
	text-indent: 28px;
}
.avviso-mail .pull-right {
	padding-top: 6px;
}
.avviso-mail h6 {
	margin: 0;
	color: #000000;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
}
a.gestisci-link {
	font-size: 12px;
	color: #898989;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}
.contenitore-topic {
	width: 940px;
	min-height: 20px;
	padding: 10px 0;
	position:relative;
	overflow:hidden;
}
/* ---------- */
.contenitore-topic .prev {
	float: left;
	margin-left: 0;
}
.contenitore-topic .next {
	float: right;
	margin-right: 10px;
}
.contenitore-topic .caroufredsel_wrapper{
	width: 870px !important;
	margin: 0 auto !important;
}
.contenitore-topic .pager {
	float: left;
	width: 300px;
	text-align: center;
}
.contenitore-topic .pager a {
	margin: 0 5px;
	text-decoration: none;
}
.contenitore-topic .pager a.selected {
	text-decoration: underline;
}
.contenitore-topic .wrapper {
	width: 100%;
	margin: 40px auto;
	padding: 50px;
}
.contenitore-topic .list_carousel {
	height:100%;
	width: 100%;
	overflow-x:hidden !important;
	min-height: 100%;
	margin-top:60px;
}
.contenitore-topic .list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.contenitore-topic .list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	min-height: 50px;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	width: 285px;
}
.contenitore-topic .list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.contenitore-topic .prev{
	position:absolute;
	left:0;
	top:70px;
	width:37px;
	height:99px;
	overflow:hidden;
	text-indent:890px;
	background:url(../images/arrow-left.png) no-repeat top right;
}
.contenitore-topic .prev:hover{
	background:url(../images/arrow-left.png) no-repeat bottom right;
}
.contenitore-topic .next{
	position:absolute;
	right:0;
	top:70px;
	width:37px;
	height:99px;
	text-indent:890px;
	background:url(../images/arrow-right.png) no-repeat bottom right;
}

.contenitore-topic .next:hover{
	background:url(../images/arrow-right.png) no-repeat top right;
}
.dictionary-topic{
	font-family: 'FuturaBT-Light', 'Arial';
	font-size: 13px;
	text-align: left;
	line-height: 18px;
}
.letter{
	color:#b2b2b2;
}
.letter-how{
	display:none;
	color:#b2b2b2;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	text-transform:uppercase;
	font-size:11px;
	margin-left:10px;
}
li.active .letter-how{
	display:inline-block;
}
li.active .letter{
	color:#000000;
}
.letter-how .black{
	color:#000000;
	font-size:14px;
}
.letter{
	font-family: 'FuturaBT-Bold', sans-serif !important;
	font-size:60px;
	display:block;
	line-height:70px;
	color:#b2b2b2;
	text-transform:uppercase;
	display:inline-block;
}
.topic-element{
	font-family: 'FuturaBT-Bold', sans-serif !important;
	color:#b0afb0;
	font-family:11px;
	text-transform:uppercase;
	margin-bottom:10px;
}
.counter-topic{
	color:#000000;
}
.delete-topic, .delete-topic-guest  {
	display: inline-block;
	width: 20px;
	background: url(../images/delete-small-icon.png) no-repeat center right #d9d9d9;
	overflow: hidden;
	text-indent: 20px;
	height: 25px;
	line-height: 30px;
	-webkit-transition: width 100ms ease;
-moz-transition: width 100ms ease;
-ms-transition: width 100ms ease;
-o-transition: width 100ms ease;
transition: width 100ms ease;
}
.delete-topic:hover, .delete-topic-guest:hover{
	width:110px;
	-webkit-transition: width 100ms ease;
-moz-transition: width 100ms ease;
-ms-transition: width 100ms ease;
-o-transition: width 100ms ease;
transition: width 100ms ease;
}
.nome-topic{
	line-height:28px;
}
.contenitore-topic .caroufredsel_wrapper, .list_carousel ul{
	overflow:hidden !important;
	height:100% !important;
	min-height: 100%;
}
.contenitore-topic .list_carousel .active{
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
}
.dictionary-topic{
	padding:0 15px;
}
.autore-intab{
	padding-bottom:20px;
	background:url(../images/bottom_area.png) no-repeat center bottom;
}
.elenco-autori{
	text-align:center;
}
#topic_list .carousel .tpc ul li a.nameauth {
	font-family: 'Roboto Slab',serif !important;
	font-weight: 700  !important;
	font-size: 14px  !important;
	line-height: 20px  !important;
	color: #000000  !important;
	text-transform:capitalize;
	margin-top: 0  !important;
}
.elenco-autori h6{
	font-family:'Roboto Slab',serif !important;
	font-weight:400;
	font-size:11px;
	color:#000000;
	margin:0;
	margin-bottom: 10px;
}

#author-container .chart .circle {
	left: 124px;
	top: 64px;
	border: none;
	width: 139px;
	height: 139px;
}
#topic_list .carousel .tpc ul li a.smettidiseguire{
	border: 1px solid #000000;
	background: url(../images/line.png) no-repeat center right;
	display: block;
	width: 170px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	display: block;
	color: black !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	font-weight: 700 !important;
	padding-right: 20px;
	text-transform: none !important;
}
.autore-intab .author-donut-profilo > div{
	width:155px !important;
	height:155px !important;
}
.autore-intab .chart, .author-donut-profilo {
	height: 155px !Important;
	width: 155px !important;
	position: relative;
	margin: 0 auto;
	overflow:hidden;
}
.autore-intab .circle{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.autore-intab .circle img {
	width: 100px;
	vertical-align: middle;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-top: 25px;
	margin-left: 7px;
}
.autore-intab{
	margin-bottom:20px;
}
.contenitore-topic.autori-cont .list_carousel, .contenitore-topic.autori-cont .caroufredsel_wrapper, .list_carousel ul {
	min-height: 800px;
}
/* tab cronologia */
#cronologia > h2, #commenti > h2 {
	text-align: center;
	margin-bottom: 15px;
	padding-top: 5px;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	color: #888888;
}
.profilo-personale {
	padding-bottom: 40px;
}
/*
#commenti .timeline {
	background: url(../images/w-timeline-bg.png) no-repeat top left;
}
*/
.date-event {
	width: 190px;
	float: left;
	font-family: 'Roboto Slab';
	font-weight: 700;
	color: #888888;
	min-height: 155px;
	line-height: 18px;
	padding-left: 45px;
	font-size: 13px;
}
.article-visited {
	float: left;
	width: 680px;
	min-height: 155px;
	overflow:hidden;
}
.article-visited figure {
	max-width: 100%;
	width: 100%;
	margin-bottom:15px;
}
.article-visited figure img {
	max-width: 100%;
}
.right-content {
	font-family:'Roboto Slab';
	font-weight:700;
	max-width: 100%;
}
.categoria-av{
	display:none;
}
.right-content h2 {
	margin: 0 0 7px 0;
	font-family:'Roboto Slab';
	font-weight:700 !important;
	font-size: 30px;
	color: #000000;
}
.right-content p{
	font-family:'Roboto Slab';
	font-weight:400;
	font-size:18px;
}
#commenti .right-content p{
	color:#000000 !important;
}
.category-in-de ul{
	padding-top:25px;
}
.category-in-de ul li, .category-in-de ul li a{
	font-family: 'FuturaBT-Bold', sans-serif !important;
	color:#b2b2b2;
	text-transform:uppercase;
	font-size:12px;
	line-height: 24px;
}
.category-in-de ul, .category-in-de ul li{
	list-style:none;
	margin:0;
	padding:0;
}
.filter-cont ul{
	width:420px;
	margin:0 auto 25px auto;
}
.filter-cont li {
	display: block;
	width: 83.50px;
	padding: 6px 0 3px 0;
	text-align: center;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	color: #000000;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 23px;
	border-right: 1px solid #a3a3a3;
	float: left;
}
.filter-cont li.selected{
	background:#c9c9c9;
}
.filter-cont li:last-child{
	border-right:0 none;
}
.filter-cont li.selected{
	background:#c9c9c9;
}
.filter-cont ul{
	border:1px solid #a3a3a3;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
.category-in-de{
	padding-top:15px;
}
.pager.paginatore-anteprime, .pager.paginatore-anteprime{
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:40px;
}
#pager2 li>a, .pager li>span, #pager3 li>a, .pager li>span{
	border:0 none;
}
#pager2 li:hover a, #pager2 li a:hover, #pager3 li:hover a, #pager3 li a:hover{
	background:none;
}
#pager2 li a, #pager3 li a{
	font-family: 'FuturaBT-Bold', sans-serif !important;
	color:#000000;
	font-size:18px;
}
#pager2 li.selected a, #pager3 li.selected a{
	font-family: 'FuturaBT-Bold', sans-serif !important;
	color:#0000ff;
	font-size:18px;
}
#pager2 li:after, #pager3 li:after{
	content:'•';
}
#pager2 li:last-child:after, #pager3 li:last-child:after{
	content:'';
}
.middle-width{
	max-width:60%;
}
.controller-row{
	border-bottom:1px solid #c8c8c7;
}
.controller-row .controller-mail{
	margin-top:10px;
}
.controller-row h6{
	font-size:20px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.controller-row p{
	color:#b2b2b2;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
.controller-row{
	padding:15px 0;
}



.controller-row .controller-activation > a {
	display: inline-block;
	height: 44px;
	width: 96px;
	line-height: 45px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bold;
}
.controller-row .controller-activation > a.on {
	background: url(../images/big-controller-si.png) no-repeat transparent;
	color: #1faf5c;
	text-indent: 17px;
}
.controller-row .controller-activation > a {
	background:url(../images/big-controller-no.png) no-repeat transparent;
	color: #898989;
	text-indent: 50px;
}
.controller-row:last-child{
	margin-bottom:20px;
}
.notifiche-mail{
	background:#e6e6e6;
	padding:10px 25px 5px 25px;
}
.notifiche-mail h4{
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	line-height: 72px;
	margin: 0;
}
.notifiche-mail input[type="text"]{
	order: 1px solid #b7b7b7;
	box-shadow: inset 1px 1px 5px 2px #eaeaea;
	-webkit-box-shadow: inset 1px 1px 5px 2px #eaeaea;
	-moz-box-shadow: inset 1px 1px 5px 2px #eaeaea;
	width: 320px;
	height: 45px;
	padding: 10px;
	margin-bottom: 10px;
	color: #b4b4b4;
	border: 0 none;
	margin-top: 10px;
}
#impostazioni{
	padding:0 15px;
}
.confirm-row input[type="submit"] {
	background: #1faf5c;
	border: 0 none;
	border-radius: 0;
	padding: 10px 20px;
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'FuturaBT-Bold',sans-serif !important;
}
#impostazioni .confirm-row{
	padding-bottom:5px;
}
.contenitore-topic .list_carousel{
	border-top:1px solid #d9d9d9;
}
.profilo-personale {
padding-top: 70px;
}
.timeline-container{
	border-top:1px solid #c8c8c7;
}
.timeline-container .timeline{
	padding-top:20px;
}
.filter-cont {
	background: url(../images/timeline-fake-border.png) repeat-y top left;
	padding: 20px 0 5px 0;
}

#cronologia #main-list article {
	width: 100%;
}


#cronologia #list-articles blockquote {
  border: none;
  margin: 0 0 26px 0;
  padding: 0 60px 0 0;
}
#cronologia #list-articles blockquote p {
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  font-family: Arial, sans-serif !important;
  display: inline;
}
#cronologia #list-articles blockquote .bigquote {
  display: block;
  border: none;
  margin: 0 -67px 60px -21px;
  padding: 30px;
  padding: 15px 20px 40px 30px;
  position: relative;
  z-index: 103;
  -webkit-box-shadow: 14px 14px 0px #000000;
  box-shadow: 14px 14px 0px #000000;
}
#cronologia #list-articles blockquote .bigquote span {
  position: absolute;
  bottom: 12px;
  right: 34px;
  font-size: 16px;
  line-height: 1em;
  font-weight: normal;
}
#cronologia #list-articles blockquote .bigquote:hover {
  margin: -2px -67px 60px -23px;
  padding-bottom: 42px;
  padding-right: 22px;
  -webkit-box-shadow: 15px 15px 0px #000000;
  box-shadow: 15px 15px 0px #000000;
}
#cronologia #list-articles blockquote .bigquote:hover:after {
  left: 102px;
  bottom: -94px;
}
#cronologia #list-articles blockquote .bigquote:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 90px;
  bottom: -80px;
  z-index: 102;
  border-right: 24px solid transparent;
  border-top: 40px solid transparent;
  border-left: 24px solid transparent !important;
  border-bottom: 40px solid transparent !important;
}
#cronologia #list-articles blockquote .bigquote:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 100px;
  bottom: -92px;
  z-index: 101;
  border-right: 24px solid #000000;
  border-top: 40px solid #000000;
  border-left: 24px solid transparent;
  border-bottom: 40px solid transparent;
}
#cronologia #list-articles blockquote .bigquote p {
  font-size: 78px;
  line-height: 78px;
  font-weight: bold;
  -webkit-box-shadow: inset 0 -8px 0px #000000;
  box-shadow: inset 0 -8px 0px #000000;
  font-family: Arial, sans-serif !important;
  display: inline;
}
#cronologia #list-articles blockquote cite {
  padding-left: 20px;
  display: inline;
  font-size: 14px;
}
#cronologia #list-articles blockquote cite.author {
  margin-left: 175px;
  height: 160px;
  border-bottom: 4px solid #02A750;
  display: block;
  margin-bottom: 3px;
  width: 360px;
  position: relative;
}
#cronologia #list-articles blockquote cite.author .who {
  position: absolute;
  bottom: 19px;
  margin: 0;
  left: 150px;
  width: 210px;
  padding-right: 10px;
}
#cronologia #list-articles blockquote cite.author p {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  font-weight: normal;
  color: #999999;
  font-size: 16px;
  line-height: 16px;
}
#cronologia #list-articles blockquote cite.author p .share {
  position: absolute;
  padding: 0;
  line-height: 16px;
  bottom: 0;
  right: 0;
}
#cronologia #list-articles blockquote cite.author p .share .icon-share {
  color: #999999;
}
#cronologia #list-articles blockquote cite.author p a {
  display: block;
  color: #000000;
  font-size: 16px;
  padding-bottom: 3px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 16px;
}

#cronologia #list-container #main-list article.quote blockquote {
	height: auto;
	overflow: visible;
	margin: 0;
	margin-bottom: 50px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0 60px 0 0;
	position: relative;
}

#cronologia #list-container #main-list article.quote blockquote::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 39px;
	bottom: -42px;
	z-index: 101;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: none;
}

#cronologia .quote blockquote .attualita:hover {
	background-color: #02A750 !important;
}

.ripristina-topic {
	width: 110px!important;
	display: inline-block;
	width: 20px;
	background: black!important;
	overflow: hidden;
	text-indent: 23px;
	height: 25px;
	line-height: 30px;
	color: white!important;
}

.ripristina-autore {
	width: 110px!important;
	display: inline-block;
	width: 20px;
	background: black!important;
	overflow: hidden;
	text-indent: 2px;
	height: 25px;
	line-height: 30px;
	color: white!important;
}

.profilo-personale #topic_list {
	margin-top: 25px;
}
.elenco-autori .chart .circle {
	width: 148px;
	height: 146px;
}
.seguito span {
	background:url('../images/less.png') no-repeat center right;
	padding-right:33px;
}
.profilo-personale .stepbystep #notifiche {
	width: 100%;
}

.rivista-digitale.abbo-profilo {
	padding-left: 10px;
}

.abbo-profilo #abbonati-profilo #wired-cover-profilo img.cover {
	position: absolute;
	width: 100px;
	left: 0;
	top: 23px;
}

.abbo-profilo #abbonati-profilo #wired-cover-profilo .ipad {
	position: absolute;
	width: 75px;
	height: 160px;
	left: 40px;
	top: 50px;
}

.abbo-profilo .digital-review {
	position: relative;
	left: 146px;
}

.abbo-profilo .immagine-copertina{
	position: absolute;
	top: -63px;
	height: 106px;
	overflow: hidden;
}
#leggi-profilo-form span {
	position: relative;
}

#leggi-profilo-form label.error {
	position: absolute;
	top: 34px;
	font-size: 12px;
	left: 3px;
	line-height: 14px;
	font-weight: 300;
}
.comm-add-quotes p:first-child:before{
	content:url('../images/quotes-first.png');
}
.comm-add-quotes p:last-child:after{
	content:url('../images/quotes-last.png');
}
#carica-commenti {
	margin: 0 auto;
	display: block;
	border: 1px solid black;
	width: 190px;
	text-align: center;
	padding: 4px 10px;
	text-transform: uppercase;
	font-family: 'FuturaBT-Bold',sans-serif !important;
	line-height: 30px;
	height: 35px;
	font-size: 15px;
}

#cronologia .pagination {
	display: block;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	padding: 0px !important;
	border-left: none !important;
	border-right: none !important;
	text-align: center;
}
.no-items {
	border-bottom: 1px solid #c8c8c7;
	padding: 40px 0;
	text-align: center;
}

#topic_list .no-items h2 {
	margin: 0;
	font-size: 21px;
	line-height: 1em;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	font-weight: normal !important;
	padding-right: 10px;
	color: #b3b3b3;
	text-transform: uppercase;
}

.single-topics-segui {	
	border: 1px solid #c9c9c9;
	padding: 10px;
	margin-bottom: 30px;
}

.single-topics-segui .segui, .single-topics-segui .seguito, .single-topics-segui .segui-nologg{
	float: right;
	background: yellow;
	display: inline-block;
	padding: 5px 8px;
	font-weight: bold;
	font-size: 23px;
	margin: 3px;
}

.single-topics-segui h5 {
	float: left;
	font-weight: bold;
	width: 50%;
	margin: 2px 0px 0px 14px;
	line-height: 22px;
	margin-top: 2x;
}

.single-topics-segui .agg-seguito-txt {
	width: 70%
}

.topic_correlati {
	padding: 30px 30px 10px 30px;
	border: 1px solid #c9c9c9;
	text-transform: uppercase;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	font-weight: normal !important;
	letter-spacing: 1px;
	font-size: 14px;
	float: left;
	width: 100%;
}

.topic_correlati li {
	list-style: none;
	cursor: pointer;
	float: left;
	width: 33%;
	margin-bottom: 20px;
}

.topic_correlati .corr-add, .topic_correlati .corr-add-guest{
	background: yellow;
	padding: 5px;
	margin-right: 15px;
}

.correlati_title {
	text-align: center;
}

.aggiunto {
	color: #b3b3b3;
}
.no-el-cron {
	text-align: center;
}

.no-el-cron h2 {
	text-transform: uppercase;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	font-weight: normal !important;
	letter-spacing: 1px;
	font-size: 20px;
	float: left;
	width: 100%;
	color: #b3b3b3;
}

.guest-topics h2.gtl {
	margin: 0;
	font-size: 40px;
	line-height: 1em;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	font-weight: normal !important;
	padding-right: 10px;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}

.single-topics-segui h5{
	display: block;
	float: none;
	width: 100%;
	margin-bottom: 2px;
	margin-left: 0;
	font-size: 20px;
}
#emailOspite{
	margin-top: 5px;
	height: 40px;
	width: 440px;
	line-height: 40px;
	font-size: 16px;
	text-indent: 15px;
	font-family: 'Roboto Slab', serif !important;
}
#seguiTopicNoLogged span{
	display: inline-block;
	margin-bottom: 5px;
	font-size: 18px;
}
#autorizzazioni_box{
	padding-top:10px;
}
#autorizzazioni_box > span{
	display:inline-block;
	color:#a6a6a6;
	font-weight: 400;
	margin-bottom:10px;
	font-family: 'Roboto Slab', serif !important;
	font-size: 12px;
}
#autorizzazioni_box .info{
	font-size:14px;
	line-height:20px;
	margin-bottom: 15px;
}
.ngst{
	color: #a6a6a6;
	font-weight: 400;
	margin-bottom: 0px !Important;
	font-family: 'Roboto Slab', serif !important;
	font-size: 15px;
	display: block;
}
.ngst input[type="checkbox"]{
	margin-right:5px;
}
.conferma-nl.segui-nologg{
	border-radius: 0;
	color: #000000;
	text-transform: uppercase;
	padding: 8px 15px;
	font-size: 18px;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	font-weight: normal !important;
	float: left;
	margin-top: 10px;
	margin-left: 0;
}
.alert_f, #errors2 > label{
	font-size:13px;
	color:#000000;
	font-weight:300;
}
.single-topics-segui .tp-bx{
	float: left;
	width: 410px;
}
.single-topics-segui .tp-btn{
	float:right;
}
.tp-bx h2{
	 display: block;
    float: none;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 0;
	font-weight:700;
	margin-top:0;
    width: 100%;
}
.tp-bx span, .nologged-follow #error .error{
	display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
	color: #a6a6a6;
}
.tp-btn{
	background: none repeat scroll 0 0 yellow;
	display: inline-block;
	float: right;
	font-size: 17px;
	font-weight: 400;
	margin: 3px;
	padding: 15px 13px 10px 13px;
	text-transform: uppercase;
	margin-top: 14px;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	font-weight: normal !important;
	border: 1px solid #c9c9c9;
	letter-spacing: 1px;
}
.single-topics-segui{
	padding:20px !important;
}
.nologged-follow  #errors .error{
	display: block;
    font-size: 15px;
    margin-bottom: 5px;
	color: #000000;
	font-weight:300;
	padding-top: 8px;
}
.guest-topics .profilo-personale {
	padding-top: 10px;
}
.guest-registrati{
	padding:0 25px;
}
.guest-registrati h3{
	display: inline-block;
	width: 100%;
	margin-bottom: 2px;
	margin-left: 0;
	font-size: 21px;
	font-weight:700;
	float: left !important;
	width: 700px;
}
.guest-registrati a{
	background: none repeat scroll 0 0 yellow;
	display: inline-block;
	float: right;
	font-size: 16px;
	font-weight: 400;
	margin: 3px;
	padding: 10px 15px 6px 15px;
	text-transform: uppercase;
	margin-top: 18px;
	font-family: 'FuturaBT-Bold', sans-serif !important;
	font-weight: normal !important;
	border: 1px solid #c9c9c9;
}
.guest-registrati {
	padding: 0 25px;
	margin-right: 1px;
	border-right: 1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	padding-bottom:10px;
}
.stai-seguendo .contatore .exttab{
	color:#898989;
}
.profilo-personale .nav-tabs li:first-child a {
	border-radius: 3px 0 0 3px !important;
	-moz-border-radius: 3px 0 0 3px !important;
	-webkit-border-radius: 3px 0 0 3px !important;
}
.profilo-personale .nav-tabs li:last-child a {
	border-radius: 0 3px 3px 0 !important;
	-moz-border-radius: 0 3px 3px 0 !important;
	-webkit-border-radius: 0 3px 3px 0 !important;
}
#cronologia .timeline-container .topics ul li a{
	padding: 7px 5px 3px 5px !important;
}
.filter-cont li:first-child{
	border-radius: 6px 0 0 6px !important;
	-moz-border-radius: 6px 0 0 6px !important;
	-webkit-border-radius: 6px 0 0 6px !important;
}
.filter-cont li:last-child{
	border-radius: 0 6px 6px 0 !important;
	-moz-border-radius: 0 6px 6px 0 !important;
	-webkit-border-radius: 0 6px 6px 0 !important;
}
/*----------------*/
.profilo-personale #topic_list .carousel .prev{
	border-top: 1px solid #c9c9c9;
	border-left: 0 none;
	border-right: 1px solid #c9c9c9;
	border-bottom: 0 none;
}
.profilo-personale #topic_list .carousel .next{
	border-top: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
	border-right: 0 none;
	border-bottom: 0 none;
}
#topic #topic_list .carousel .tpc ul li a.delete-topic,
#topic_list .carousel .tpc ul li a.delete-topic-guest {
	 font-family: 'FuturaBT-Light' !important;
	 color:#737373;
}
#topic #topic_list menu{
	padding:0;
}
#topic_list .carousel .tpc ul li a.ripristina-topic{
	 font-family: 'FuturaBT-Light' !important;
	 color:#737373;
}
.lista-commenti-utente h2{
	font-size:18px;
}
.lista-commenti-utente .comm-add-quotes p{
	font-size:16px;
}
.profilo-personale .nav-tabs>li:last-child a{
	padding: 10px 18px 8px 17px;
}
.gestisci-account-sn a{
	font-family: 'Roboto Slab','Arial';
	font-weight:400;
}
.barrato{
	text-decoration:line-through;
}
.not-count{
	position: absolute;
	bottom: -4px;
	left: 0;
	background: #2929fe;
	color: #FFFFFF;
	width: 18px;
	display: block;
	height: 18px;
	border-radius: 50%;
	font-size: 11px;
	line-height: 18px;
	z-index: 98;
}
span.namespace.livefyre{
	font-weight:bold;
	text-decoration:underline;
}
span.namespace.livefyre:before{
	content:"@";
}

.segui-txt-disa {
    max-width: 78%;
    float: left !important;
}