#adv_bkg_cont {height: 100%;left: 0;overflow: hidden;position: fixed;top: 0;width: 100%;z-index: 0;}
#adv_bkg {left: 50%;margin-left: -800px;position: fixed;top: 0;width: 1600px;z-index: 0;text-align:center;}
#adv_bkg iframe {height: 1280px;position: relative;}
.adv_tile_4 iframe {height: 250px;width: 300px;}
#adv_iso_low iframe {height: 250px;width: 300px;}
#advFullscreen iframe {height: 250px;width: 300px;}
#bannerSpTop {margin-left:-10px;}
#bannerSpBottom {margin-left:-10px;}
#bannerSpBottom iframe {width:300px;height:250px;}
#bannerMMag iframe {width:300px;height:250px;}
#bannerMMag {margin-left: -10px;}
.domination.ipad .fancybox-wrap {top:-330px !important;}
#fullscreen .sidebar .adv {bottom: auto;top:370px;}
